<% provide(:title, "About") %>
	<h1>About</h1>
<p>
	This is the about page for the
	<a href="https://en.wikipedia.org/wiki/Google">Google Wiki</a>
	<br/>
	Home Page at the
	<a href="/static_pages/home">Home Page</a>
</p>


