<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
	Home Page at the
	<a href="/static_pages/home">Home Page</a>
	<br/>
	Google Translate at the
	<a href="https://translate.google.com">Google Translate</a>
	<br/>
	Google Images at the
	<a href="https://images.google.com">Google Images</a>
</p>


