<h1>Sign up</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.label :birthday, "Birthday" %>
      <%= f.date_select(:birthday, start_year: 1900) %>

      <%= f.label :gender, "Gender" %>

      <div>
        <%= radio_button :user, :gender, 0 %>
        <%= f.label :gender, "Male" %>

        <%= radio_button :user, :gender, 1 %>
        <%= f.label :gender, "Female" %>
      </div>
      
      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>