/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  padding-left: 30px;
  padding-right: 30px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}