<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '/static_pages/about' %></li>
      <li><%= link_to "Contact", '/static_pages/contact' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
      <!-- <li><%= link_to 'My User', show_my_user_path('cuonggm48') %></li> -->
    </ul>
  </nav>
</footer>